<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Demon Compendium</title>
        <link rel="stylesheet" type="text/css" href="/public/css/smdg-db.css" />
        <script type="text/javascript">
            async function confirmDelete(e) {
                e.preventDefault();
                var doDelete = window.confirm("Are you sure you want to delete all demons?");
                if (doDelete) {
                    try {
                        var response = await fetch("/api/demons", {
                            method: "delete",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            credentials: "same-origin",
                            body: "{}"
                        });
                        if (response.ok) {
                            var data = await response.json();
                            window.location = e.target.href + "?deletedCount=" + data["data"];
                        } else {
                            var data = await response.json();
                        }
                    } catch (err) {
                        console.log("error: " + err);
                    }
                }
            }

            async function login(e) {
                e.preventDefault();
                try {
                    data = {
                        "userName": document.getElementById("userName").value,
                        "password": document.getElementById("password").value
                    };
                    var response = await fetch("/api/login", {
                        method: "post",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(data)
                    });
                    if (response.ok) {
                        var data = await response.json();
                        document.getElementById("token").value = data["token"];
                        document.getElementById("tokenForm").submit();
                    }
                } catch (err) {
                    console.log("error: " + err);
                }
            }

            async function logout(e) {
                e.preventDefault();
                try {
                    var response = await fetch("/logout", {
                        method: "put",
                        headers: {
                            "Content-Type": "application/json",
                            "body": "{}"
                        }
                    });
                    if (response.ok) {
                        window.location = e.target.href;
                    }
                } catch (err) {
                    console.log("error: " + err);
                }
            }

            function toggleMenu(e) {
                document.querySelector(".dropdown-content").classList.toggle("show");
            }

            function hideMenus(e) {
                if (!e.target.matches(".dropdown-toggle") && !document.querySelector(".dropdown").contains(e.target)) {
                    document.querySelectorAll(".dropdown-content").forEach((dropdown) => {
                        if (dropdown.classList.contains("show")) {
                            dropdown.classList.remove("show");
                        }
                    })
                }
            }

            function showUploadForm(e) {
                e.preventDefault();
                document.querySelector(".dropdown-content").classList.remove("show");
                document.getElementById("overlay").classList.add("show");
            }

            function hideUploadForm(e) {
                e.preventDefault();
                document.getElementById("overlay").classList.remove("show");
            }

            function addListeners() {
                window.addEventListener("click", (e) => { hideMenus(e); });
                document.querySelectorAll(".dropdown-toggle").forEach((dropdown) => {
                    dropdown.addEventListener("click", (e) => { toggleMenu(e); });
                });
                var logoutElement = document.getElementById("logout");
                if (logoutElement) {
                    logoutElement.addEventListener("click", (e) => { logout(e); });
                    var deleteAllElement = document.getElementById("deleteAll");
                    if (deleteAllElement) {
                        deleteAllElement.addEventListener("click", (e) => { confirmDelete(e); });
                    }
                    var uploadElement = document.getElementById("upload");
                    if (uploadElement) {
                        uploadElement.addEventListener("click", (e) => { showUploadForm(e); });
                    }
                    var cancelUploadElement = document.getElementById("cancelUpload");
                    if (cancelUploadElement) {
                        cancelUploadElement.addEventListener("click", (e) => { hideUploadForm(e); });
                    }
                } else {
                    document.getElementById("loginButton").addEventListener("click", (e) => { login(e); });
                }
            }

            window.onload = addListeners;
        </script>
    </head>
    <body>
        <h1>Shin Megami Dice Game Demon Compendium</h1>
        <div class="dropdown">
            <div class="dropdown-toggle">
                <%if (user === null) {%>
                    Sign in&nbsp;&#x25BC;
                <%} else {%>
                    <%=user.displayName%>&nbsp;&#x25BC;
                <%}%>
            </div>
            <div class="dropdown-content">
                <%if (user === null) {%>
                    <div>
                        <label for="userName">User name:</label>
                    </div>
                    <div>
                        <input id="userName" />
                    </div>
                    <div>
                        <label for="password">Password</label>
                    </div>
                    <div>
                        <input id="password" type="password" />
                    </div>
                    <div>
                        <button id="loginButton">Login</button>&nbsp;<button id="cancelButton">Cancel</button>
                    </div>
                    <div>
                        <a id="register" href="/users/new">Sign up</a>
                    </div>
                    <form id="tokenForm" method="post" action="/compendium" hidden>
                        <input id="token" name="token"/>
                        <input name="submitButton" type="submit"/>
                    </form>
                <%} else {%>
                    <%if (user.authorizationLevel > 0) {%>
                    <div>
                        <a id="createNew" href="/compendium/demon/new">Create new demon</a>
                    </div>
                    <div>
                        <a id="deleteAll" href="/compendium/demons/deleteall">Delete all demons</a>
                    </div>
                    <div>
                        <a id="upload" href="">Upload new data</a>
                    </div>
                    <div>
                        <a id="download" href="/compendium/demons/download">Download demon data</a>
                    </div>
                    <%}%>
                    <%if (user.authorizationLevel > 1) {%>
                        <div>
                            <a id="users" href="/users">Manage users</a>
                        </div>
                    <%}%>
                    <div>
                        <a id="logout" href="/compendium">Logout</a>
                    </div>
                <%}%>
            </div>
        </div>
        <div>
            Currently known demons:
            <table>
                <thead>
                    <tr>
                        <th>Demon</th>
                        <th>Level</th>
                        <th>Evolves To</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach((item)=>{ %>
                        <tr>
                            <td><a href="/compendium/demon/<%=item.name%>"><%= item.displayName %></a></td>
                            <td><%=item.level%></td>
                            <td>
                                <%if (item.evolvesTo !== null) {%>
                                    <a href="/compendium/demon/<%=item.evolvesTo%>"><%=item.evolvesToReference.displayName%></a>
                                <%} else {%>
                                    -
                                <%}%>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <%if (user !== null && user.authorizationLevel > 1) {%>
        <div id="overlay" class="overlay">
            <div id="uploadForm" class="overlay-content">
                <form action="/compendium/demons/upload" enctype="multipart/form-data" method="POST">
                    <div>
                        <label for="uploadFile">Select a file to upload:</label><br/>
                        <input type="file" name="uploadFile" />
                    </div>
                    <div>
                        <input type="submit" value="Upload" />
                        <input id="cancelUpload" type="button" value="Cancel" />
                    </div>
                </form>                    
            </div>
        </div>
        <%}%>
    </body>
</html>
