<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Demon Compendium</title>
        <link rel="stylesheet" type="text/css" href="/public/smdg-db.css" />
        <script type="text/javascript">
            async function confirmDelete(e) {
                e.preventDefault();
                var doDelete = window.confirm("Are you sure you want to delete all demons?");
                if (doDelete) {
                    try {
                        var response = await fetch("/api/demons", {
                            method: "delete",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            credentials: "same-origin",
                            body: "{}"
                        });
                        if (response.ok) {
                            var data = await response.json();
                            window.location = e.target.href + "?deletedCount=" + data["data"];
                        } else {
                            var data = await response.json();
                            console.log(response);
                            console.log(data);
                        }
                    } catch (err) {
                        console.log("error: " + err);
                    }
                }
            }

            async function logout(e) {
                e.preventDefault();
                try {
                    var response = await fetch("/compendium/logout", {
                        method: "put",
                        headers: {
                            "Content-Type": "application.json",
                            "body": "{}"
                        }
                    });
                    if (response.ok) {
                        window.location = e.target.href;
                    }
                } catch (err) {
                    console.log("error: " + err);
                }
            }

            function showUploadForm(e) {
                e.preventDefault();
                document.getElementById("uploadForm").style.display = "block";
            }

            function hideUploadForm(e) {
                e.preventDefault();
                document.getElementById("uploadForm").style.display = "none";
            }

            function addListeners() {
                var logoutElement = document.getElementById("logout");
                if (logoutElement) {
                    logoutElement.addEventListener("click", (e) => { logout(e); });
                    document.getElementById("deleteAll").addEventListener("click", (e) => { confirmDelete(e); });
                    document.getElementById("upload").addEventListener("click", (e) => { showUploadForm(e); });
                    document.getElementById("cancelUpload").addEventListener("click", (e) => { hideUploadForm(e); });
                }
            }

            window.onload = addListeners;
        </script>
    </head>
    <body>
        <h1>Shin Megami Dice Game Demon Compendium</h1>
        <%if (user === null) {%>
            <div>
                <a id="login" href="/compendium/login">Login</a>
            </div>
        <%} else {%>
            <div>
                <span>Hello, <%=user.displayName%></span>&nbsp;<a id="logout" href="/compendium">Logout</a>
            </div>
            <div>
                <span><a id="createNew" href="/compendium/demon/new">Create new demon</a></span>&nbsp;
                <span><a id="deleteAll" href="/compendium/demons/deleteall">Delete all demons</a></span>&nbsp;
                <span><a id="upload" href="">Upload new data</a>
                    <div id="uploadForm" class="form-popup">
                        <form action="/compendium/demon/upload" enctype="multipart/form-data" method="POST">
                            <input type="file" name="uploadFile" />
                            <input type="submit" value="Upload" />
                            <div>
                                <a id="cancelUpload" href="">Cancel</a>
                            </div>
                        </form>                    
                    </div>
                </span>
            </div>
        <%}%>    
        <div>
            Currently known demons:
            <table>
                <thead>
                    <tr>
                        <th>Demon</th>
                        <th>Level</th>
                        <th>Evolves To</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach((item)=>{ %>
                        <tr>
                            <td><a href="/compendium/demon/<%=item.name%>"><%= item.displayName %></a></td>
                            <td><%=item.level%></td>
                            <td>
                                <%if (item.evolvesTo !== null) {%>
                                    <a href="/compendium/demon/<%=item.evolvesTo%>"><%=item.evolvesToReference.displayName%></a>
                                <%} else {%>
                                    -
                                <%}%>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </body>
</html>
